# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
mwasmeppc.exe
mwcceppc.exe
mwldeppc.exe
makedol.exe
powerpc-eabi-as.exe
*.out
*.app

*.elf
*.dol

compiler_log.txt
.vs
out

# Python cache/compiled modules
*.pyc

tmp
*.rel

# Compiler tools bundle
tools.7z
