repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending

  - repo: https://github.com/psf/black
    rev: 22.1.0
    hooks:
      - id: black

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        args: ["-style=file", "-i"]

  - repo: local
    hooks:
      - id: format-symbols
        name: format_symbols.py
        entry: 'python -m mkwutil.tools.format_symbols'
        language: system
        types: [file]
        pass_filenames: true
        files: 'symbols\.txt'
