ansiwrap==0.8.4
atomicwrites==1.4.1
attrs==21.4.0
capstone==4.0.2
chardet==4.0.0
colorama==0.4.6
cxxfilt==0.2.2
DataProperty==1.0.1
dominate==2.6.0
flameprof==0.4
iniconfig==1.1.1
Jinja2==3.1.2
MarkupSafe==2.1.3
mbstrdecoder==1.1.3
ninja-syntax==1.7.2
packaging==23.1
pathvalidate==2.4.1
pluggy==0.13.1
ppcdis @ git+https://github.com/SeekyCt/ppcdis.git@c644c1c0abc1152cd931b4be7f51dfde6e67ab64
pre-commit==2.19.0
py==1.11.0
pyelftools==0.29
pyparsing==3.1.1
pytablewriter==0.62.0
pytest==7.4.0
python-dateutil==2.8.2
python-Levenshtein==0.26.1
pytz==2022.1
PyYAML==6.0.1
requests==2.31.0
six==1.16.0
tabledata==1.3.1
tcolorpy==0.1.3
termcolor==1.1.0
textwrap3==0.9.2
toml==0.10.2
typepy==1.2.0
watchdog==2.1.3
