<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
html {
  font-family: sans-serif;
}
.slices {
  display: flex;
}
.rectangle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  flex-grow: 0;
  flex-shrink: 0;
}
.rectangle .rectangle-tooltip {
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}
.rectangle-below {
  margin-top: 75px;
}
.rectangle-small {
  background-color: gray;
  visibility: hidden;
}
.rectangle:hover .rectangle-tooltip {
  background-color: black;
  visibility: visible;
}
th {
  padding: .2em 1em;
}
</style>
</head>
<body>

<h2>Progress</h2>
{{ percents_table }}

{% macro slices(boxes, tooltip_class) -%}
<div class="slices">
{% for box in boxes -%}
<span
  class="rectangle"
  style="background-color:{{ box.color_code }}; width:{{ box.width }}px;"
>
{% if box.tooltip -%}
<span class="{{ tooltip_class }} {% if box.width < 75 -%}rectangle-small{%- endif %}">{{ box.tooltip }}</span>
{% endif %}
</span>
{% endfor %}
</div>
{%- endmacro %}

<h2>DOL Libraries</h2>
{{ slices(dol_libraries, "rectangle-tooltip") }}

<h2>DOL Decompiled</h2>
{{ slices(dol_decomp, "rectangle-tooltip rectangle-below") }}

</body>
</html>
