#include "{{ header }}"

{% include 'source_decls.j2' %}

// .rodata
{% for datum in rodata -%}
{{  datum  }}
{% endfor %}
// .data
{% if data is defined and data|length > 0 -%}
#pragma explicit_zero_data on
{%- endif %}
{% for datum in data -%}
{{  datum  }}
{% endfor -%}
{% if data is defined and data|length > 0 -%}
#pragma explicit_zero_data off
{% endif %}
// .bss
{% for datum in bss -%}
u8 {{  datum.name  }}[{{  datum.size  }}];
{% endfor %}

{% for function in functions -%}
{% include 'source_fun.j2' %}
{% endfor -%}
