#pragma once

#include <rk_types.h>

#include "decomp.h"

#ifdef __cplusplus
extern "C" {
#endif
{% for function in functions %}
// PAL: {{ function.addr | addr }}..{{ (function.addr+function.size) | addr }}
UNKNOWN_FUNCTION({{ function.name }});
{%- endfor %}

#ifdef __cplusplus
}
#endif
