{% for function in functions -%}
// Symbol: {{ function.name }}
// Function signature is unknown.
// PAL: {{ function.addr | addr }}..{{ (function.addr+function.size) | addr }}
asm void {{ function.name }}(void) {
  nofralloc;
{%- for line in function.inline_asm %}
{{ line }}
{%- endfor %}
}

{% endfor %}
