// --- EXTERN DECLARATIONS BEGIN ---
{% if cpp %}
extern "C" {
{% endif %}
{% if extern_functions | length > 0 -%}
// Extern function references.
{%- for function in extern_functions %}
// PAL: {{ function.addr | addr }}
extern UNKNOWN_FUNCTION({{ function.name }});
{%- endfor -%}
{% endif -%}

{% if extern_data | length > 0 -%}
// Extern data references.
{%- for data in extern_data %}
// PAL: {{ data.addr | addr }}
extern UNKNOWN_DATA({{ data.name }});
{%- endfor -%}
{% endif -%}
{% if cpp %}
}
{% endif %}
// --- EXTERN DECLARATIONS END ---
