ENTRY(__start)
MEMORY {
text : origin = 0x80004000
// Dummy address
binary_blobs : origin = 0xA0000000
}
SECTIONS {
GROUP:{
.init ALIGN(0x20):{}
extab_ ALIGN(0x20):{}
extabindex_ ALIGN(0x20):{}
.text ALIGN(0x20):{}
.ctors ALIGN(0x20):{}
.dtors ALIGN(0x20):{}
.rodata ALIGN(0x20):{}
.data ALIGN(0x20):{}
.bss ALIGN(0x80):{}
.sdata ALIGN(0x20):{}
.sbss ALIGN(0x20):{}
.sdata2 ALIGN(0x20):{}
.sbss2 ALIGN(0x20):{}
.stack ALIGN(0x100):{}
} > text
GROUP:{
binary_blobs ALIGN(0x20):{}
} > binary_blobs

_stack_addr = (_f_sbss2 + SIZEOF(.sbss2) + 65536 + 0x7) & ~0x7;
_stack_end = _f_sbss2 + SIZEOF(.sbss2);
_db_stack_addr = (_stack_addr + 0x2000);
_db_stack_end = _stack_addr;
__ArenaLo = (_db_stack_addr + 0x1f) & ~0x1f;
__ArenaHi = 0x81700000;
_eti_init_info_ = 0x80007290;

{% for sym in symbols -%}
{{ sym.name }} = {{ "0x%08x" | format(sym.addr) }};
{% endfor %}
}

FORCEFILES {
{% for name in force_files -%}
{{ name }}
{% endfor %}
}

FORCEACTIVE {
// ut_charWriter
__ct__Q34nw4r2ut10CharWriterFv
__dt__Q34nw4r2ut10CharWriterFv
SetupGX__Q34nw4r2ut10CharWriterFv
SetFontSize__Q34nw4r2ut10CharWriterFf
SetFontSize__Q34nw4r2ut10CharWriterFff
GetFontWidth__Q34nw4r2ut10CharWriterCFv
GetFontHeight__Q34nw4r2ut10CharWriterCFv
GetFontAscent__Q34nw4r2ut10CharWriterCFv
Print__Q34nw4r2ut10CharWriterFUs
PrintGlyph__Q34nw4r2ut10CharWriterFfffRCQ34nw4r2ut5Glyph
UpdateVertexColor__Q34nw4r2ut10CharWriterFv
SetupGXWithColorMapping__Q34nw4r2ut10CharWriterFQ34nw4r2ut5ColorQ34nw4r2ut5Color

// gsAvailable
GSIStartAvailableCheckA
//GSIAvailableCheckThink

// gsUdpEngine
gsUdpMsgHandlerFree
gsUdpMsgHandlerCompare
gsUdpMsgHandlerCompare2
gsUdpRemotePeerCompare
gsUdpRemotePeerCompare2
gsUdpSocketError
gsUdpClosedRoutingCB
gsUdpConnectedRoutingCB
gsUdpPingRoutingCB
gsUdpReceivedRoutingCB
gsUdpUnrecognizedMsgCB
gsUdpConnAttemptCB
gsUdpEngineIsInitialized
gsUdpEngineInitialize
gsUdpEngineGetPeerState
gsUdpEngineStartTalkingToPeer
gsUdpEngineSendMessage
gsUdpEngineThink
gsUdpEngineShutdown
gsUdpEngineGetLocalPort
gsUdpEngineAddMsgHandler
gsUdpEngineRemoveMsgHandler
gsUdpEngineNoMoreMsgHandlers
gsUdpEngineNoApp
gsUdpEngineGetPeerOutBufferFreeSpace

// gsXML
gsXmlCreateStreamWriter
gsXmlCreateStreamReader
gsXmlParseBuffer
gsXmlFreeWriter
gsXmlFreeReader
gsXmlCloseWriter
gsXmlWriterGetData
gsXmlWriterGetDataLength
gsXmlWriteOpenTag
gsXmlWriteCloseTag
gsXmlWriteStringElement
gsXmlWriteUnicodeStringElement
gsXmlWriteIntElement
gsXmlWriteFloatElement
gsXmlWriteBase64BinaryElement
gsXmlWriteDateTimeElement
gsiXmlUtilWriteXmlSafeString
gsXmlMoveToStart
gsXmlMoveToNext
gsXmlMoveToParent
gsXmlMoveToChild
gsXmlReadChildAsString
gsXmlReadChildAsStringNT
gsXmlReadChildAsHexBinary
gsXmlReadChildAsBase64Binary
gsXmlReadChildAsInt
gsXmlReadChildAsDateTimeElement
gsXmlReadChildAsFloat
gsiXmlUtilTagMatches
gsXmlCountChildren

// gp
gpInitialize
gpDestroy
gpProcess
gpSetCallback
gpConnectPreAuthenticatedA
gpDisconnect
gpProfileSearchA
gpGetInfo
gpSetInfosA
gpSendBuddyRequestA
gpAuthBuddyRequest
gpDenyBuddyRequest
gpGetNumBuddies
gpGetBuddyStatus
gpGetBuddyIndex
gpIsBuddy
gpDeleteBuddy
gpSetStatusA
gpSendBuddyMessageA
gpGetReversBuddiesList
gpGetLoginTicket

// gpi
gpiInitialize
gpiDestroy
gpiReset
gpiProcessConnectionManager
gpiProcess

// gpiBuddy
gpiProcessRecvBuddyMessage
gpiProcessRecvBuddyStatusInfo
gpiSendServerBuddyMessage
gpiSendBuddyMessage
gpiBuddyHandleKeyRequest
gpiBuddyHandleKeyReply
gpiAuthBuddyRequest
gpiFixBuddyIndices
gpiDeleteBuddy

// gpiBuffer
gpiAppendCharToBuffer
gpiAppendStringToBufferLen
gpiAppendStringToBuffer
gpiAppendIntToBuffer
gpiSendOrBufferChar
gpiSendOrBufferStringLenToPeer
gpiSendOrBufferString
gpiRecvToBuffer
gpiSendFromBuffer
gpiSendBufferToPeer
gpiReadMessageFromBuffer
gpiClipBufferToPosition

// gpiCallback
gpiCallErrorCallback
gpiAddCallback
gpiProcessCallbacks

// gpiConnect
gpiConnect
gpiProcessConnect
gpiCheckConnect
gpiDisconnect

// gpiInfo
gpiInfoCacheToArg
gpiProcessGetInfo
gpiAddLocalInfo
gpiSetInfoi
gpiSetInfos
gpiSendGetInfo
gpiGetInfo
gpiFreeInfoCache

// gpiKeys
gpiStatusInfoKeyFree
gpiStatusInfoKeysInit
gpiStatusInfoKeysDestroy
gpiStatusInfoKeyCompFunc
gpiStatusInfoAddKey
gpiStatusInfoSetKey
gpiStatusInfoCheckKey
gpiSaveKeysToBuffer

// gpiOperation
gpiFailedOpCallback
gpiAddOperation
gpiDestroyOperation
gpiRemoveOperation
gpiFindOperationByID
gpiOperationsAreBlocking
gpiProcessOperation

// gpiPeer
gpiPeerSendMessages
gpiCheckTimedOutPeerOperations
gpiDestroyPeer
gpiRemovePeer
gpiProcessPeers
gpiGetPeerByProfile
gpiAddPeer
gpiPeerGetSig
gpiPeerStartConnect
gpiPeerAddMessage
gpiPeerStartTransferMessage
gpiPeerFinishTransferMessage
gpiPeerLeftCallback
gpiPeerMessageCallback
gpiPeerAcceptedCallback
gpiPeerPingReplyCallback
gpiPeerAddOp
gpiPeerRemoveOp

// gpiProfile
GPIInfoCacheFilename
gpiInitProfiles
gpiProcessNewProfile
gpiProfileListAdd
gpiGetProfile
gpiProcessDeleteProfle
gpiRemoveProfileByID
gpiRemoveProfile
gpiFindProfileByUser
gpiProfileMap
gpiFindBuddy
gpiRemoveBuddyStatus
gpiRemoveBuddyStatusInfo
gpiCanFreeProfile

// gpiSearch
gpiProfileSearch
gpiOthersBuddyList
gpiProcessSearches

// gpiTransfer
gpiHandleTransferMessage

// gpiUnique
gpiProcessRegisterUniqueNick
gpiProcessRegisterCdKey

// gpiUtility
strzcpy
gpiCheckForError
gpiValueForKey
gpiCheckSocketConnect
gpiReadKeyAndValue
gpiSetError
gpiSetErrorString
gpiEncodeString

// gt2Auth
gti2GetChallenge
gti2GetResponse
gti2CheckResponse

// gt2Buffer
gti2AllocateBuffer
gti2GetBufferFreeSpace
gti2BufferWriteByte
gti2BufferWriteUShort
gti2BufferWriteData
gti2BufferShorten

// gt2Callback
gti2SocketErrorCallback
gti2ConnectAttemptCallback
gti2ConnectedCallback
gti2ReceivedCallback
gti2ClosedCallback
gti2PingCallback
gti2SendFilterCallback
gti2ReceiveFilterCallback
gti2DumpCallback
gti2UnrecognizedMessageCallback

// gt2Connection
gti2NewOutgoingConnection
gti2NewIncomingConnection
gti2StartConnectionAttempt
gti2AcceptConnection
gti2RejectConnection
gti2ConnectionSendData
gti2ConnectionThink
gti2CloseConnection
gti2ConnectionClosed
gti2ConnectionCleanup

// gt2Main
gt2CreateSocket
gt2CloseSocket
gt2Think
gt2Listen
gt2Accept
gt2Reject
gt2Connect
gt2Send
gt2CloseConnectionHard
gt2CloseAllConnectionsHard
gt2GetConnectionState
gt2GetRemoteIP
gt2GetRemotePort
gt2GetLocalIP
gt2GetLocalPort
gt2GetOutgoingBufferSize
gt2GetOutgoingBufferFreeSpace
gt2GetSocketSOCKET
gt2SetUnrecognizedMessageCallback
gt2SetConnectionData
gt2GetConnectionData

// gt2Socket
gti2SocketFindConnection
gti2CreateSocket
gti2CloseSocket
gti2Listen
gti2NewSocketConnection
gti2FreeSocketConnection
gti2SocketSend
gti2SocketConnectionsThink
gti2FreeClosedConnections
gti2SocketError

// gt2Utility
gt2AddressToString
gt2StringToAddress
gti2MessageCheck

// qr2
qr2_init_socketA
qr2_register_natneg_callback
qr2_register_clientmessage_callback
qr2_register_publicaddress_callback
qr2_think
qr2_send_statechanged
qr2_shutdown
qr2_keybuffer_add
qr2_buffer_add_int
qr2_buffer_addA
qr2_parse_queryA
qr2_check_queries_indata

// qr2regkeys
qr2_internal_is_master_only_key
qr2_register_keyA

// ghttpBuffer
ghiResizeBuffer
ghiInitBuffer
ghiInitFixedBuffer
ghiFreeBuffer
ghiAppendDataToBuffer
ghiEncryptDataToBuffer
ghiAppendHeaderToBuffer
ghiAppendCharToBuffer
ghiAppendIntToBuffer
ghiResetBuffer
// ghiSendBufferedData

// ghttpCommon
ghiProxyAddress
ghiProxyPort
ghiCreateLock
ghiFreeLock
ghiLock
ghiUnlock
ghiDecryptReceivedData
ghiDoReceive
ghiDoSend

// ghttpConnection
ghiNewConnection
ghiFreeConnection
ghiRequestToConnection
ghiEnumConnections
ghiRedirectConnection
ghiCleanupConnections

// ghttpEncryption
ghttpSetRequestEncryptionEngine
ghiEncryptorSslInitFunc
ghiEncryptorSslCleanupFunc
ghiEncryptorSslStartFunc
ghiEncryptorSslEncryptSend
ghiEncryptorSslDecryptRecv
ghiEncryptorSslEncryptFunc
ghiEncryptorSslDecryptFunc

// ghttpMain
ghttpStartup
ghttpCleanup
ghttpGetExA
ghttpPostA
ghttpThink
ghttpRequestThink
ghttpCancelRequest
ghttpGetHeaders
ghttpSetMaxRecvTime
ghttpNewPost
ghttpPostSetAutoFree
ghttpFreePost
ghttpPostAddFileFromMemoryA
ghttpPostAddXml

// ghttpPost
ghiNewPost
ghiPostSetAutoFree
ghiIsPostAutoFree
ghiFreePost
ghiPostAddFileFromMemory
ghiPostAddXml
ghiPostGetContentType
ghiPostInitState
ghiPostCleanupState
ghiPostDoPosting

// ghttpProcess
ghiDoSocketInit
ghiDoHostLookup
ghiDoLookupPending
ghiDoConnecting
ghiDoSecuringSession
ghiDoSendingRequest
ghiDoPosting
ghiDoWaiting
ghiDoReceivingStatus
ghiDoReceivingHeaders
ghiDoReceivingFile

// gbucket
BucketNew
BucketSet
BucketAdd
BucketSub
BucketMult
BucketDiv
BucketConcat
BucketAvg

// gstats
CloseStatsConnection
IsStatsConnected
PersistThink

// sb_crypt
GOACryptInit
GOADecrypt

// sb_queryengine
SBQueryEngineInit
SBQueryEngineSetPublicIP
SBEngineHaltUpdates
SBEngineCleanup
SBQueryEngineUpdateServer
SBQueryEngineThink
SBQueryEngineAddQueryKey
SBQueryEngineRemoveServerFromFIFOs

// sb_server
SBRefStrHash
SBRefStrHashCleanup
SBServerFree
SBServerAddKeyValue
SBServerAddIntKeyValue
SBServerGetStringValueA
SBServerGetIntValueA
SBServerGetFloatValueA
SBServerGetPublicAddress
SBServerGetPublicInetAddress
SBServerGetPublicQueryPort
SBServerGetPublicQueryPortNBO
SBServerHasPrivateAddress
SBServerGetPrivateAddress
SBServerGetPrivateInetAddress
SBServerGetPrivateQueryPort
SBServerSetNext
SBServerGetNext
SBServerParseKeyVals
SBServerParseQR2FullKeysSingle
SBServerParseQR2FullKeysSplit
SBAllocServer
SBServerSetFlags
SBServerSetPrivateAddr
SBServerSetICMPIP
SBServerSetState
SBServerGetState
SBIsNullServer

// sb_serverbrowsing
ServerBrowserNewA
ServerBrowserFree
ServerBrowserBeginUpdate2
ServerBrowserLimitUpdateA
ServerBrowserSendMessageToServerA
ServerBrowserSendNatNegotiateCookieToServerA
ServerBrowserRemoveServer
ServerBrowserThink
ServerBrowserClear
ServerBrowserState
ServerBrowserGetServer
ServerBrowserCount
ServerBrowserSortA
ServerBrowserGetMyPublicIPAddr

// sakeMain
sakeStartup
sakeShutdown
sakeSetGame
sakeSetProfile
sakeGetStartRequestResult
sakeCreateRecord
sakeUpdateRecord
sakeSearchForRecords
sakeGetMyRecords
sakeSetFileDownloadURL
sakeGetFileDownloadURL
sakeSetFileUploadURL
sakeGetFileResultFromHeaders
sakeGetFileIdFromHeaders

// eggDvdFile
initialize__Q23EGG7DvdFileFv
__ct__Q23EGG7DvdFileFv
__dt__Q23EGG7DvdFileFv
initiate__Q23EGG7DvdFileFv
open__Q23EGG7DvdFileFl
open__Q23EGG7DvdFileFPCc
open__Q23EGG7DvdFileFPCcPv
close__Q23EGG7DvdFileFv
readData__Q23EGG7DvdFileFPvll
writeData__Q23EGG7DvdFileFPCvll
sync__Q23EGG7DvdFileFv
doneProcess__Q23EGG7DvdFileFlP11DVDFileInfo
getFileSize__Q23EGG7DvdFileCFv

// eggVideo
initialize__Q23EGG5VideoFPC15GXRenderModeObjPCPC15GXRenderModeObj
getTickPerVRetrace__Q23EGG5VideoFUl
getTickPerVRetrace__Q23EGG5VideoFv

// eggQuat
set__Q23EGG5QuatfFffff
setRPY__Q23EGG5QuatfFRCQ23EGG8Vector3f
setRPY__Q23EGG5QuatfFfff
setAxisRotation__Q23EGG5QuatfFRCQ23EGG8Vector3ff
squareNorm__Q23EGG5QuatfFv
normalise__Q23EGG5QuatfFv
inverse__Q23EGG5QuatfFv
rotateVector__Q23EGG5QuatfFRCQ23EGG8Vector3f
rotateVectorInv__Q23EGG5QuatfFRCQ23EGG8Vector3f
__ml__3EGGFRCQ23EGG5QuatfRCQ23EGG8Vector3f
slerpTo__Q23EGG5QuatfCFRCQ23EGG5QuatffRQ23EGG5Quatf
makeVectorRotation__Q23EGG5QuatfFRQ23EGG8Vector3fRQ23EGG8Vector3f

// eggCntFile
__ct__Q23EGG7CntFileFv
__dt__Q23EGG7CntFileFv
initThreading__Q23EGG7CntFileFv
spawnFileHandle__Q23EGG7CntFileFPCcPv
close__Q23EGG7CntFileFv
readData__Q23EGG7CntFileFPvll
writeData__Q23EGG7CntFileFPCvll
open__Q23EGG7CntFileFPCc
getFileSize__Q23EGG7CntFileCFv
}
