ENTRY(__start)
MEMORY {
text : origin = 0x805103B4
}
SECTIONS {
GROUP:{
.text ALIGN(0x20):{}
.ctors ALIGN(0x20):{}
.dtors ALIGN(0x20):{}
.rodata ALIGN(0x20):{}
.data ALIGN(0x20):{}
.bss ALIGN(0x80):{}
} > text
}

FORCEFILES {
{% for name in force_files -%}
{{ name }}
{% endfor -%}
}
