---
on:
  push:
    paths:
      - 'mkwutil/**'
  pull_request:
    paths:
      - 'mkwutil/**'
name: Test
jobs:
  test:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v3

      - uses: ilammy/msvc-dev-cmd@v1

      - uses: actions/setup-python@v4
        with:
          python-version: '3.10.4'
          architecture: 'x64'

      - uses: syphar/restore-virtualenv@v1
        id: cache-virtualenv
        with:
          requirement_files: requirements.txt

      - uses: syphar/restore-pip-download-cache@v1
        if: steps.cache-virtualenv.outputs.cache-hit != 'true'

      - run: pip install -r requirements.txt
        if: steps.cache-virtualenv.outputs.cache-hit != 'true'

      - name: Install mkwutil in editable mode
        run: pip install -e .

      - name: Run tests
        run: pytest -vv
